<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME PAGE</title>
</head>
<body>
    <h1> URL SHORTNER </h1>
    <form action="/url" method="post">
        <label>Domain </label>
        <input type="text" required name="url" placeholder="ex: https://example.com">
     <button type="submit">Submmit</button>
    </form>
</body>
</html>