<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Singup Page</h1>
    <form action ="/user" method="post">
        <label> Name</label>
        <input type="text" required name="name"   placeholder="Enter Your Email"> <br>
        <label> Email</label>
        <input type="text" required name="email"  placeholder="Enter Your Email" ><br>
        <label> password</label>
         <input type="text" required name="password" placeholder="password"><br>
       
        <button type="submit">submit</button>
    </form>
</body>
</html>