<!doctype html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
 <title> Add New Blog</title>
  </head>
  <body>
    <%- include('./partials/nav') %>

    
    <%- include('./partials/script') %>

  </body>
</html>
