<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/login" method="post">
  
         <input type="text" required name="Email" placeholder="Enter Email" >
    </input>

    <input type="text" required name="password" placeholder="password" >
</input>

   <button type="submit"> Submit </button>

    </form>
</body>
</html>