<div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3 mt-5">
        <button class="btn btn-primary btn-lg btn-block text-color-white">
          <i class="fab fa-google"><a href="/user/auth/google"></i> Sign in with Google
        </button></a>
      </div>
    </div>
  </div>
  
  